%footer#footer.microsite-footer
  .container
    .row
      .col-sm-6
        %nav
          %h5
            &= config[:region].name
            By-laws
          %ul
            %li
              %a(href="/") By-laws
            %li
              %a{href: config[:region]['website-url']} #{config[:region].name} website
          %p
            %img.region-logo{src: config[:region].logo}
      .col-sm-6
        %nav
          %h5 &nbsp;
          %ul
            %li
              The by-laws are published through a partnership between #{config[:region].name} Municipality and
              %a(href="https://openbylaws.org.za/partner.html") OpenUp
            %li.text-right
              %a(href="https://openbylaws.org.za/partner.html")
                %img.openup-logo(src="/img/openup-logo.svg")
