%header#header.microsite-header
  %aside.powered-by-banner
    .container.text-right
      Powered by
      %a(href="https://openbylaws.org.za/partner.html") OpenByLaws.org.za
  %nav.navbar.navbar-inverse(role="navigation")
    .container
      .navbar-header
        %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand(href='/')
          %img.microsite-region-logo{src: config[:region].logo}
          .microsite-region-name #{config[:region].name} By-laws

      #navbar-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %form(action="/search.html" class="navbar-form navbar-right" method="get" role="search")
              %input(class="form-control" name="q" placeholder="Search by-laws" type="text")
              - if config[:microsite]
                %input{type: "hidden", name: "region", value: config[:region]['code']}
          %li
            %a.website-link{href: config[:region]['website-url']} #{config[:region].name} website →
