= wrap_layout :site do
  - content_for :head do
    = stylesheet_link_tag 'content.css', media: "screen, print"

    %meta(property="og:type" content="website")
    %meta(property="og:url" content="http://openbylaws.org.za/")

  = yield
