@import 'bootstrap.min.css';
@import 'bootstrap-theme.min.css';
@import 'html5bootstrap.css';
@import 'font-awesome.min.css';

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background-image: none;
}

#header {
  a.navbar-brand {
    background-image: url(/img/logo-md-inv.png);
    background-repeat: no-repeat;
    background-position: 0px 7px;
    background-size: 35px;

    padding-left: 45px;
    margin: 0px;
    @media (max-width: 768px) {
      margin-left: 15px;
    }

    color: white;
  }

  .social {
    padding-bottom: 0px;
    padding-top: 12px;
  }

  .microsite-region-logo {
    float: left;
    width: 75px;
  }
  
  .microsite-region-name {
    float: left;
    margin-left: 10px;
  }
}

.microsite {
  #main-content .header-content {
    margin-left: 85px;
  }

  #header a.navbar-brand {
    background-image: none;
    padding-left: 0px;
  }
}

.powered-by-banner {
  background-color: #444;
  color: #ddd;
  padding: 4px 0px;
  font-size: 12px;

  a {
    color: #ddd;
    text-decoration: underline;
  }
}

#footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 10px 0px;

  color: #777;

  h5 {
    text-transform: uppercase;
  }

  ul {
    padding-left: 0px;
    list-style: none;
    li {
    }
  }

  a[rel="license"] > img {
    width: 88px;
    margin: 0px 0px 10px 0px;
  }
}

#main-content {
  margin-bottom: 40px;

  header {
    background-color: #eee;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;

    h1 {
      margin: 0px;
      font-size: 24.5px;
      
      a {
        color: inherit;
      }
    }

    .breadcrumbs {
      @media print { display: none }

      margin-left: 0px;

      li {
        padding-left: 0px;
      }
    }

    h1 + .breadcrumbs {
      margin: 10px 0px 0px;
    }
  }

  nav {
    margin-top: 10px;
  }

  &> article,
  .bylaws-page
  {
    margin-top: 20px;

    @media (min-width: 769px) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

/* phones */
@media (max-width: 768px) {
  .full-xs {
    width: 100%;
  }

  input[type=text],
  input[type=email] {
    font-size: 16px;
  }
}

@media print {
  @page {
    margin: 2cm;
  }

  body, .container {
    width: auto;
  }

  body {
    margin: 2cm;
  }

  nav, .navbar .nav {
    display: none;
  }

  #main-content {
    header {
      border-bottom: 0px;
      text-align: center;

      a {
        text-decoration: none;
      }

      ol.breadcrumbs.region {
        display: block;
        text-align: center;
      }
    }
  }
}

.resources h3 {
  margin-top: 0px;
}

.about-nav.affix {
  top: 20px;
}

.download-list {
  .download {
    display: block;
    float: left;
    width: 90px;
    height: 110px;
    position: relative;

    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px;

    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    background: #efefef;

    text-align: center;
    color: #777;
  }

  .download:hover,
  .download:active,
  .download:focus {
    text-decoration: none;
  }

  .download:hover {
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
    top: -1px;
    left: -1px;
  }

  .title {
    font-size: 12px;
    line-height: 1.2;
    display: block;
    height: 74px;
    overflow-y: hidden;
  }

  .format {
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    color: white;
    left: -0.5em;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 1.5;
  }

  .format::before {
    content: "";
    bottom: -0.5em;
    border-width: .5em 0 0 0.5em;
    position: absolute;
    display: block;
    border-style: solid;
    z-index: -1;
  }

  .pdf {
    .format {
      background-color: #D9534F;
    }

    .format::before {
      border-color: #A94442 transparent transparent transparent;
    }
  }

  .epub {
    .format {
      background-color: #89B70B;
    }

    .format::before {
      border-color: #79A70A transparent transparent transparent;
    }
  }

  .html {
    .format {
      background-color: #2989d8;
    }

    .format::before {
      border-color: #0675b3 transparent transparent transparent;
    }
  }
}
