@import 'site';
@import 'act';
@import 'toc';

.downloads {
  .download {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }
}

.popover.term-definition {
  max-width: 400px;

  .an-term {
    color: inherit;
  }
}

nav.bylaw-nav {
  margin-left: -15px;
  margin-right: -15px;
}

#bylaws-page {
  .resources {
    &>h1, &>h2, &>h3 {
      margin-top: 0px;
    }
  }
}
