@import 'site';
@import 'toc';

// akn styling from Indigo
@import 'bower_components/indigo-web/scss/akoma-ntoso';

.akoma-ntoso-container {
  margin-top: 20px;

  .published {
    font-style: italic;
  }

  .popover-content .akn-term {
    border-bottom-width: 0px;
  }

  #definitions, .term-definition {
    .akn-subsection {
      margin-left: 0px;
    }
  }
}

.downloads {
  .download {
    margin-bottom: 30px;
  }

  .btn {
    margin-left: 10px;
  }
}

.popover.term-definition {
  max-width: 400px;

  .akn-term {
    color: inherit;
  }
}

#bylaws-page {
  .resources {
    &>h1, &>h2, &>h3 {
      margin-top: 0px;
    }
  }
}

.social-buttons {
  margin-top: 8px;

  a {
    margin-right: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}

nav.left-nav {
  border-right: 1px solid #ccc;
  padding-right: 5px;

  @media print {
    display: none;
  }

  // hidden on bootstrap small
  @media (max-width: 767px) {
    display: none;
  }
}
