@import 'site';
@import 'toc';

@keyframes fadeout {
  from { background-color: yellow; }
  to { background-color: none; }
}

.akoma-ntoso-container {
  margin-top: 20px;
  overflow-x: auto;

  .published {
    font-style: italic;
  }

  .popover-content .akn-term {
    border-bottom-width: 0px;
  }

  .term-link {
    cursor: pointer;
    color: #007bff;

    &:hover {
      color: #007bff;
      text-decoration: underline;
    }
  }

  :target {
    animation: fadeout 2s;
  }
}

.downloads {
  .btn {
    margin-left: 10px;
  }
}

.popover.term-definition {
  max-width: 400px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

  .akn-term {
    color: inherit;
  }

  .akn-subsection {
    margin-left: 0px;
  }
}

#bylaws-page {
  .resources {
    &>h1, &>h2, &>h3 {
      margin-top: 0px;
    }
  }
}

.social-buttons {
  margin-top: 8px;

  a {
    margin-right: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}

nav.left-nav {
  position: sticky;
  top: 10px;
  max-height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding-right: 5px;
  padding-bottom: 10px;

  @media print {
    display: none;
  }

  // hidden on bootstrap small
  @media (max-width: 767px) {
    display: none;
  }
}

.timeline {
  position: relative;

  .timeline-items {
    li {
      position: relative;
      margin-left: 50px;
      background-color: #efefef;
      padding: 10px 10px;
      margin-bottom: 15px;

      h5 {
        margin-top: 0px;
        font-weight: bold;
      }

      &::before {
        right: 100%;
        border: #ddd 5px solid;
        content: " ";
        position: absolute;
        top: 10px;
        left: -50px;
        background-color: #333;
        width: 22px;
        height: 22px;
        z-index: 1;
      }
      
      &::after {
        right: 100%;
        border: solid transparent;
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        border-right-color: #efefef;
        border-width: 10px;
        top: 10px;
        left: -20px;
      }
    }

    &::after {
      background: #ddd;
      z-index: 0;
      content: "";
      display: block;
      left: 10px;
      top: 0;
      bottom: 0;
      position: absolute;
      width: 4px;
      opacity: 0.35;
    }

  }
}

.help {
  margin-top: 10px;
  background-color: #f5f0e1;
  padding: 20px;
  border-radius: 3px;
  h3 {
    margin-top: 0;
  }
  .btn-group-vertical {
    > .btn {
    float: left;
    text-align: left;
    border-radius: 0 !important;
    } 
    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
  .answer {
    margin-top: 20px;
  }
}

.single-sol {
  box-shadow: 0px 0px 3px 0px #d4cdb9;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  min-height: 150px;
  background-color: #fff;
  color: #000;
  & > i {
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 28px;
    opacity: 0.25;
  }
  small {
    font-size: 11px;
    line-height: 20px;
  }
}

.feedback {
  a {
    color: #666;
    font-size: 18px;
    cursor: pointer;
    &:hover, &:active, &:focus {
      text-decoration: none;
      &.positive {
        color: #149e28;
      }
      &.negative {
        color: #9e1414;
      }
    }
    &.active {
      &.positive {
        color: #149e28;
      }
      &.negative {
        color: #9e1414;
      }
    }
  }
}
