@import 'site';
@import 'search';
@import 'vendor/ladda-themeless-0.9.4.min.css';

#main-page {
  section {
    padding: 20px 0px;

    h1:first-child,
    h2:first-child,
    h3:first-child {
      margin-top: 0px;
    }
  }

  .welcome {
    background-color: #e9ecef;
  }

  .about {
    background-color: #e9ecef;
    margin-top: 20px;
  }

  .places {
    padding-bottom: 0px;
  }

  .logo {
    width: 110px;
  }

  .social-buttons {
    margin-bottom: 30px;

    a {
      padding: 5px;
      margin-right: 10px;
    }

    a.twitter {
      color: white;
      background-color: #55acee;
    }

    a.facebook {
      color: white;
      background-color: #3b5998;
    }
  }
}

.sponsors {
  margin-top: 20px;
  padding: 20px 0px;

  img {
    height: 50px;
  }
}

.placard {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-color: #333;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: opacity 0.15s ease;
  background-position: 0;

  &:hover {
    opacity: 0.8;
  }

  h2, h3 {
    position: absolute;
    color: white;
    display: inline;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
  }

  &.ads {
    background-image: url(/img/issues/ads-placard.jpg);
    background-position: 0% 30%;
  }
  &.animals {
    background-image: url(/img/issues/animals-placard.jpg);
    background-position: 60% 40%;
  }
  &.neighbours {
    background-image: url(/img/issues/neighbours-placard.jpg);
    background-position: 40% 70%;
  }
  &.noise {
    background-image: url(/img/issues/noise-placard.jpg);
    background-position: 100% 30%;
  }
}

.action-blocks {
  .action-block {
    background: inherit;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;

    &> i[class*="fa-"] {
      float: left;
    }
  }

  h3 {
    margin-top: 0px;
  }

  .action {
    margin-left: 90px;
  }
}

.regions {
  margin-bottom: 10px;

  .region {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;

    h3 {
      margin-top: 0px;
    }

    ul {
      margin-bottom: 0px;
    }

    li a {
      display: block;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
