@import 'bootstrap';
@import 'html5bootstrap';
@import 'act';
@import 'toc';

body {
  font-size: 14px;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

#header {
  a.brand {
    color: white;
  }
}

#footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 10px 20px;

  color: #777;

  h5 {
    text-transform: uppercase;
  }

  ul {
    padding-left: 0px;
    list-style: none;
    li {
    }
  }

  a[rel="license"] > img {
    float: right;
    width: 88px;
    margin: 0px 0px 10px 10px;
  }
  a[rel="license"] + p {
    line-height: 1.2em;
  }
}

footer.sponsors {
  padding: 10px 20px;
}

#main {
  margin-bottom: 40px;

  header {
    background-color: #eee;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;

    h1 {
      margin-top: 0px;
      font-size: 24.5px;
    }

    #breadcrumbs li {
      padding-left: 0px;
    }
  }

  nav {
    margin-top: 10px;
  }

  article.static {
    margin-top: 20px;
  }
}

#content {
  margin-left: 20px;
  margin-right: 20px;
}

.downloads {
  .download {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }
}

.popover.term-definition {
  max-width: 400px;

  .an-term {
    color: inherit;
  }
}

.panel {
  background: whitesmoke;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;

  h3 {
    margin-top: 0px;
  }
}

.action-panels {
  .panel {
    background: inherit;
    padding-left: 20px;
    padding-right: 20px;

    &> i[class*="icon-"] {
      float: left;
    }
  }

  .action {
    margin-left: 90px;
  }
}

.regions {
  .region {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 10px;

    h3 {
      margin-top: 0px;
    }

    h5 {
      margin-bottom: 0px;
    }

    li a {
      display: block;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.jumbotron {
  padding: 10px 30px;

  &.welcome {
    padding-bottom: 30px;
  }

  .lead {
    margin-bottom: 0px;
  }
}

#main-page {
  .regions {
    .region {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }
}

#recent-blog-posts {
  .date {
    display: block;
    float: left;

    width: 60px;
    height: 60px;
    padding: 10px;

    background-color: #333;
    color: white;

    text-align: center;

    .day, .month {
      font-weight: bold;
      text-transform: uppercase;
    }

    .day {
      font-size: 18px;
    }
  }
  .content {
    margin-left: 70px;

    .more {
      text-align: right;
      display: block;
    }
  }
}

@media (max-width: 568px) {
  /* phones */
  .an-container {
    padding-left: 0px;
    border-left-width: 0px;
  }

  aside.toc {
    display: none;
  }

  header, footer {
    margin-left: -20px;
    margin-right: -20px;
  }

  #content {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media print {
  nav, .navbar .nav, #breadcrumbs, aside.toc {
    display: none;
  }

  .navbar-inverse .navbar-inner {
    border-width: 0px;
  }

  #header .brand:after {
    content: " - openbylaws.org.za";
  }

  @page {
      margin: 1.5cm 2.0cm;
  }

  .an-container {
    padding-left: 0px;
    border-left-width: 0px;
  }

}
