@import 'bootstrap';
@import 'bootstrap/theme';
@import 'html5bootstrap';

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background-image: none;
}

#header {
  a.navbar-brand {
    color: white;
  }
}

#footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 10px 15px;

  color: #777;

  h5 {
    text-transform: uppercase;
  }

  ul {
    padding-left: 0px;
    list-style: none;
    li {
    }
  }

  a[rel="license"] > img {
    float: right;
    width: 88px;
    margin: 0px 0px 10px 10px;
  }
  a[rel="license"] + p {
    line-height: 1.2em;
  }
}

#main-content {
  margin-bottom: 40px;

  header {
    background-color: #eee;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;

    h1 {
      margin: 0px;
      font-size: 24.5px;
      
      a {
        color: inherit;
      }
    }

    .breadcrumbs {
      @media print { display: none }

      margin-left: 0px;

      li {
        padding-left: 0px;
      }
    }

    h1 + .breadcrumbs {
      margin: 10px 0px 0px;
    }
  }

  nav {
    margin-top: 10px;
  }

  &> article,
  .bylaws-page
  {
    margin-top: 20px;

    @media (min-width: 769px) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

/* phones */
@media (max-width: 768px) {
  #header, header, #footer {
    margin-left: -15px;
    margin-right: -15px;
  }

  .full-xs {
    width: 100%;
  }
}

@media print {
  @page {
    margin: 2cm;
  }

  body, .container {
    width: auto;
  }

  body {
    margin: 2cm;
  }

  nav, .navbar .nav {
    display: none;
  }

  #main-content {
    header {
      border-bottom: 0px;
      text-align: center;

      a {
        text-decoration: none;
      }

      ol.breadcrumbs.region {
        display: block;
        text-align: center;
      }
    }
  }
}
