.toc {
  margin-top: 20px;

  ol {
    list-style-type: none;
    padding-left: 10px;
  }

  &> ol {
    padding-left: 0px;
    margin-left: 0px;
  }

  li.part {
    margin-bottom: 20px;

    &> a {
      font-weight: bold;
    }
  }

  li.chapter {
    margin-bottom: 10px;

    &> a {
      font-weight: bold;
    }
  }

  li.schedules {
    a {
      font-weight: bold;
    }
  }
}

aside.toc {
  border-right: 1px solid #ccc;
  padding-right: 5px;

  @media print {
    display: none;
  }

  // hidden on bootstrap small
  @media (max-width: 767px) {
    display: none;
  }

  &.affix {
    top: 0px;
    bottom: 0px;
    width: 219px;
    margin: 0px;
    padding: 10px 10px 10px 0px;
    overflow-y: scroll;

    @media (min-width: 992px) {
      width: 293px;
    }

    @media (min-width: 1200px) {
      width: 359px;
    }
  }

  &.affix-bottom,
  &.affix-top {
    position: relative;
  }
}
