.toc {
  padding-top: 20px;

  ol {
    list-style-type: none;
    padding-left: 10px;
  }

  &> ol {
    padding-left: 0px;
    margin-left: 0px;
  }

  li.part {
    margin-bottom: 20px;

    &> a {
      font-weight: bold;
    }
  }

  li.chapter {
    margin-bottom: 10px;

    &> a {
      font-weight: bold;
    }
  }

  li.schedules {
    &> a {
      font-weight: bold;
    }
  }
}

aside.toc {
  @media (max-width: 768px) {
    display: none;
  }

  @media print {
    display: none;
  }
}
