%ol.list-inline.breadcrumbs
  - trail.each_with_index do |item, i|
    %li
      - if i == trail.size-1
        &= toc_title(item)
      - else
        %a{href: act_url(act, item)}
          &= toc_title(item)
        &#9656;
