%ol.list-inline.breadcrumbs
  - trail.each_with_index do |item, i|
    %li
      - if i == trail.size-1
        &= item.toc_title
      - else
        %a{href: act_url(act, item)}
          &= item.toc_title
        &#9656;
