.alert.alert-warning
  %h5 COVID-19 Regulations
  Some municipal functions such as public transport, restaurant hours and liquor sales are impacted by recent national COVID-19 regulations.
  %br
  #{link_to 'Read the COVID-19 regulations', '/za/eng/'}.
