%ol.list-inline.breadcrumbs.region
  %li
    - if act.place_code == 'za'
      %a(href="/covid19/") South Africa COVID-19
    - else
      %a(href="/#{act.place_code}/#{act.language}/")&= regions[act.locality || act.country].name

%h1
  %a{href: act_url(act)}&= act.title
  - if act.repealed?
    %span.badge.badge-danger repealed

- if not act.stub and act.points_in_time.size > 1
  %h2.pt-1
    as from #{act.expression_date.strftime("%e %B %Y")}
    - if act.latest_expression?
      onwards
    - else
      to #{act.next_pit_date.strftime("%e %B %Y")}
