%ol.list-inline.breadcrumbs.region
  %li
    %a(href="/za-#{act.locality}/#{act.language}/")&= regions[act.locality].name

%h1
  %a{href: act_url(act)}&= act.title

- if not act.stub and not act.latest_expression?
  %h2.pt-1
    as at
    &= act.expression_date
