%ol.list-inline.breadcrumbs
  %li
    %a(href="/za/by-law/#{act.region}/")&= data.geo.regions[act.region].name
    &#9656;

%h1
  %a{href: act_url(act)}&= act.short_title

= partial 'breadcrumbs', locals: {act: act, trail: []}
