%nav.bylaw-nav
  .hidden-xs.pull-right
    .btn-toolbar
      .btn-group.social-buttons
        %a.fb-share{href: "#", data: {href: act_url(act, external: true)}}
          %i.fa.fa-facebook-official
          Share
        %a.twitter-share{href: "#", data: {href: act_url(act, external: true), text: act.title}}
          %i.fa.fa-twitter
          Tweet

  %ul.nav.nav-tabs
    %li{class: tab == 'content' ? 'active' : ''}
      %a{href: act_url(act)} By-law

    %li{class: tab == 'toc' ? 'active' : ''}
      %a{href: act_url(act, child: 'contents/')}
        %span.hidden-xs Table of
        Contents

    %li{class: tab == 'resources' ? 'active' : ''}
      %a{href: act_url(act, child: "resources/")}
        %span.hidden-xs
        History &amp; Downloads
