%nav.bylaw-nav
  .hidden-xs.pull-right
    %a.btn.btn-default(href="javascript:window.print();")
      %i.fa.fa-print
      Print

  %ul.nav.nav-tabs
    %li{class: tab == 'toc' ? 'active' : ''}
      %a{href: act_url(act, 'contents/')}
        %span.hidden-xs Table of
        Contents

    %li{class: tab == 'content' ? 'active' : ''}
      %a{href: act_url(act)} By-law

    %li{class: tab == 'resources' ? 'active' : ''}
      %a{href: act_url(act, "resources/")}
        %span.hidden-xs More
        Resources
