%nav.bylaw-nav
  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link{href: act_url(act), class: tab == 'content' ? 'active' : ''} By-law

    %li.nav-item
      %a.nav-link{href: act_url(act, child: 'contents/'), class: tab == 'toc' ? 'active' : ''}
        %span.hidden-xs Table of
        Contents

    %li.nav-item
      %a.nav-link{href: act_url(act, child: 'resources/', language: false), class: tab == 'resources' ? 'active' : ''}
        History
        %span.hidden-xs &amp; Downloads

    %li.ml-auto.d-none.d-md-block.social-buttons
      %a.fb-share{href: "#"}
        %i.fab.fa-facebook
        Share
      %a.twitter-share{href: "#", text: act.title}
        %i.fab.fa-twitter
        Tweet
