%nav.bylaw-nav
  .hidden-xs.pull-right
    .fb-like{data: {href: act_url(act, external: true), layout: "button_count", action: "recommend"}}

    %a.btn.btn-default(href="javascript:window.print();")
      %i.fa.fa-print
      Print

  %ul.nav.nav-tabs
    %li{class: tab == 'toc' ? 'active' : ''}
      %a{href: act_url(act, child: 'contents/')}
        %span.hidden-xs Table of
        Contents

    %li{class: tab == 'content' ? 'active' : ''}
      %a{href: act_url(act)} By-law

    %li{class: tab == 'resources' ? 'active' : ''}
      %a{href: act_url(act, child: "resources/")}
        %span.hidden-xs More
        Resources
