%nav.bylaw-nav
  .hidden-xs.pull-right
    %span.social-buttons
      %a.fb-share{href: "#", data: {href: act_url(act, external: true)}}
        %i.fa.fa-facebook-official
        Share
      %a.twitter-share{href: "#", data: {href: act_url(act, external: true), text: act.title}}
        %i.fa.fa-twitter
        Tweet

    %a.btn.btn-default(href="javascript:window.print();")
      %i.fa.fa-print
      Print

  %ul.nav.nav-tabs
    %li{class: tab == 'toc' ? 'active' : ''}
      %a{href: act_url(act, child: 'contents/')}
        %span.hidden-xs Table of
        Contents

    %li{class: tab == 'content' ? 'active' : ''}
      %a{href: act_url(act)} By-law

    %li{class: tab == 'resources' ? 'active' : ''}
      %a{href: act_url(act, child: "resources/")}
        %span.hidden-xs More
        Resources
