#notices
  - if act.repealed?
    .alert.alert-warning
      %h4 Repealed
      %p
        This by-law was repealed on #{act.repeal.date.strftime('%Y-%m-%d')}
        by #{link_to act.repeal.repealing_title, act.repeal.repealing_uri}.
