#notices
  - if act.repealed?
    .alert
      %h4 Repealed
      %p
        This #{h act.nature} was repealed on #{act.repealed_on.strftime('%Y-%m-%d')}
        by #{link_to act.repealed_by['showAs'], act.repealed_by['href']}.
