.alert.alert-warning.text-center
  %p
    We don't have the full contents of this by-law captured.

  - if act.publication?
    %p
      You can download the PDF instead.

    %p
      %i.fa.fa-fw.fa-download
      %a{href: act.publication_document.url}
        Download #{act.full_publication} PDF
        - if act.publication_document._size
          (#{number_to_human_size(act.publication_document._size)})

  %p
    - region = regions[act.locality]
    Or visit the
    %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
