%ol
  %li
    %a{href: act_url(act)} Entire #{act.subtype_name}
  = partial 'toc_container', locals: {act: act, items: act.toc.reject { |t| t.component =~ /schedule/ }}

  - if act.schedules.present?
    %li.schedules
      %strong Schedules
      %ol
        = partial 'toc_container', locals: {act: act, items: act.schedules}
