---
layout: 'bylaw'
---

- content_for :title do
  = act.title

- content_for :lang_links do
  - for lang in act.languages
    %link{rel: "alternate", hreflang: lang.code2, href: act_url(act, child: "contents/", language: lang.code3)}

= partial 'nav', locals: {act: act, tab: 'toc'}

%section.toc
  = partial 'toc', locals: {act: act}
