---
layout: 'layout'
title: South Africa By-laws
---

%header
  %h1 By-laws

%article.static#bylaws-page
  .row
    .col-sm-9
      = partial 'region_list.html.haml', locals: {bylaws: bylaws}

    .col-sm-3.resources
      %h3 All By-laws

      %p
        %a.btn(href="https://github.com/longhotsummer/za-by-laws")
          %i.fa.fa-github
          Browse on GitHub
      %p
        %a.btn(href="https://github.com/longhotsummer/za-by-laws/archive/master.zip")
          %i.fa.fa-download
          Download ZIP
