---
layout: 'layout'
title: South Africa By-laws
---

%header
  %h1 By-laws

#bylaws-page
  .row-fluid
    .span9
      = partial 'region_list.html.haml', locals: {bylaws: bylaws}

    .span3
      %h3 All By-laws

      %p
        %a.btn(href="https://github.com/longhotsummer/za-by-laws")
          %i.icon-github
          Browse on GitHub
      %p
        %a.btn(href="https://github.com/longhotsummer/za-by-laws/archive/master.zip")
          %i.icon-download
          Download ZIP
