---
title: South Africa By-laws
---

- content_for :header do
  %h1 By-laws

#bylaws-page
  .row
    .col-sm-9
      = partial 'region_list.html.haml'

    .col-sm-3.resources
      %h3 All By-laws

      %p
        %a.btn.btn-default(href="https://github.com/longhotsummer/za-by-laws")
          %i.fa.fa-github
          Browse on GitHub
      %p
        %a.btn.btn-default(href="https://github.com/longhotsummer/za-by-laws/archive/master.zip")
          %i.fa.fa-download
          Download ZIP
