%header#header
  %nav.navbar.navbar-inverse(role="navigation")
    .container
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand(href='/')
          .hidden-xs Open By-laws South Africa
          .visible-xs Open By-laws ZA

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            %a(href="/about.html") About
          %li
            %a(href="/help.html") Help

        %form.navbar-form.navbar-right(action="/search.html" method="get" role="search")
          %input.form-control(type="text" name="q" placeholder="Search")     

        %ul.nav.navbar-nav.navbar-right
          %li
            %a.social(href="https://facebook.com/openbylaws.org.za")
              %i.fa.fa-facebook-official.fa-2x
          %li
            %a.social(href="https://twitter.com/OpenByLawsZA")
              %i.fa.fa-twitter.fa-2x
