%header.lawsafrica-site-header
  .container
    %a(href="https://laws.africa")
      %img(src="/img/lawsafrica-logo-horizontal.png" alt="A Laws.Africa project" width="150px")

%header#header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(role="navigation")
    .container
      %a.navbar-brand.mr-5(href='/')
        .d-none.d-sm-block Open By-laws South Africa
        .d-block.d-sm-none Open By-laws

      %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon

      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.mr-3
            %a.nav-link(href="/about.html") About

        %form.form-inline.my-2.my-lg-0(action="/search.html" method="get" role="search")
          %input.form-control(type="text" name="q" placeholder="Search" aria-label="Search")
