%h3 What's been happening

.row
  .col-sm-6
    = javascript_include_tag 'http://openbylawsza.tumblr.com/api/read/json?filter=text&num=3'
    %ul.list-unstyled#recent-blog-posts
      %li.hidden.template
        .date
          .day
          .month
        .content
          %a
            %h4
          %p
          %a.more Read more

  .col-sm-6.hidden-xs
    %a(class="twitter-timeline" href="https://twitter.com/search?q=http%3A%2F%2Fopenbylaws.org.za" data-widget-id="392364515645353984") Tweets about http://openbylaws.org.za
