.row.sponsors
  .col-sm-4.text-center
    %p
      = link_to(image_tag('/img/openup-logo.svg'), 'https://openup.org.za')
  .col-sm-4.text-center
    %p
      = link_to(image_tag('/img/shuttleworth-funded.jpg'), 'http://www.shuttleworthfoundation.org/')
  .col-sm-4.text-center
    %p
      = link_to(image_tag('/img/ami-logo.png'), 'http://africanmediainitiative.org/')
