.row
  .col-sm-6.text-center
    %p
      = link_to(image_tag('/img/code4sa-logo.png'), 'http://code4sa.org/')
  .col-sm-6.text-center
    %p
      = link_to(image_tag('/img/shuttleworth-funded.jpg'), 'http://www.shuttleworthfoundation.org/')
