---
title: About - Open By-laws South Africa
contributors:
  - Ally Adendorf
  - Greg Kempe
  - Matt Adendorf
  - Richard Gevers
  - Nqobile Sibisi
  - Cliff Featherstone
  - Andrew Collier
  - Tricia Govindasamy
  - Juan Barrios
  - Pivendren Naik
  - Christopher Gevers
---

- content_for :header do
  %h1 About openbylaws.org.za

.row
  .col-md-8.mx-auto
    %p.lead
      Open By-laws is a community project to make our by-laws easier to find, read and share.

    %p.lead
      Municipal by-laws form part of the legal foundation for effective service
      delivery and cooperative communities. In many municipalities, however,
      the by-laws are out of date or difficult to find. Open By-laws helps to
      solve this problem by working with a contributor community to put
      up-to-date by-laws online, freely available to everyone.

    %h3 What are by-laws?
    %p
      By-laws are laws managed by municipalities. <a href="https://myconstitution.co.za/en/07.html#powers-and-functions-of-municipalities">The Constitution of South Africa</a> gives municipalities the power to pass their own legislation, in the form of by-laws, for particular subject areas. These by-laws the same power and force as other national and provincial legislation.

    %p
      Municipalities are required by the Municipal Systems Act to make their by-laws publicly available on their website. However, most municipalities lack the capacity to do so. Open By-laws helps to fill this gap.
      
    %h3 Powered by Laws.Africa
    %p
      Open By-laws is a project of <a href="https://laws.africa">Laws.Africa</a>, a non-profit organisation that curates the African legislation commons and builds technology to enable free access to the law.
    %p
      Laws.Africa trains and supports a contributor community that is working together to build an African legislation commons and make African law freely available to everyone. 

    %h3 How you can help
    %p
      The by-laws on this website are maintained by a community of contributors. The contributors work hard to put by-laws online and keep them up-to-date. Laws.Africa provides training and support and builds the technology that makes this project possible.
    %p
      <a href="https://laws.africa/faq">Read more about being a contributor</a>.

    %h3#contributors Contributors

    %p
      An enormous thanks to our contributors and editors:

    %p
      #{current_page.data.contributors.sort.join(', ')}.

    %p
      In 2013, Open By-laws received a Shuttleworth Flash Grant and an AMI Sandbox Fund grant,
      and we're grateful to these funders who helped us in our infancy.

    %p
      <a href="https://laws.africa/faq">Read more about being a contributor</a>.

    %h3#disclaimer Disclaimer

    %p
      We aren't lawyers. We don't write these laws, we're just making them available and there may be mistakes.
      Always get a professional legal opinion.

    %h3#credits Credits

    %ul
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/mattharvey1/20654618945") Cape Town by mattharvey1 on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/south-african-tourism/20504209102") eThekwini by south-african-tourism on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/nico_roets/2547914600") Johannesburg skyline by nico_roets on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/130467353@N06/17337369662") Cape Agulhas lighthouse by Allan Watt on flickr
      %li
        Photo of Mbizana from
        %a(href="http://www.mbizana.gov.za/") Mbizana Municipality website
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/jbdodane/15177717355") Velddrif in Bergrivier by jbdodane on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/sa-venues/3862797198") Cederberg by SA-Venues.com on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/robwallace/2249636397") Calitzdorp in Kannaland by Robert Wallace on flickr
