---
title: Contact Us - Open By-laws South Africa
---

- content_for :header do
  %h1 Contact Us

.row
  .col-sm-6
    %h3
      We aren't laywers and cannot offer legal advice.

    %p.lead
      Contact your City or your Ward Councillor for help.

    %p
      Your Ward Councillor represents you to your municipality and can help
      resolve issues.

    #councillor-iframe
    %script(type="text/javascript" src="http://nearby.code4sa.org/static/councillor-embed.js")

  .col-sm-6.col-md-offset-3.col-md-3
    %h3 Get in touch

    %ul.fa-ul
      %li
        %i.fa-li.fa.fa-envelope
        #{link_to 'hello@openbylaws.org.za', 'mailto:hello@openbylaws.org.za'}
      %li
        %i.fa-li.fa.fa-twitter
        %a(href="https://twitter.com/OpenByLawsZA") @OpenByLawsZA

    %h4 Join our mailing list

    = partial 'mailchimp_form.html'
