---
title: Help - Open By-laws South Africa
---

- content_for :header do
  %h1 Help track

%h3 What's your municipality?
%a.btn.btn-primary(href="#")
  Cape Town
%a.btn.btn-default(href="#")
  eThekwini
%a.btn.btn-default(href="#")
  Johannesburg
%a.btn.btn-default(href="#")
  Other

%h3 What do you need help with?
%a.btn.btn-default(href="#")
  Advertising
%a.btn.btn-default(href="#")
  Animals and pets
%a.btn.btn-default(href="#")
  Neighbourhood activities
%a.btn.btn-primary(href="#")
  Noise and disturbances
%a.btn.btn-default(href="#")
  Something else

%h3 What's the issue exactly?
%a(href="#")
  My neighbour is making noise

%h2 Step you can take
%ul
  %li
    Read the relevant
    %a(href="/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/")
      by-law
  %li
    Talk to your neighbour
  %li
    Contact your municipality to report a noise or disturbance
    