---
title: Open By-laws South Africa
layout: layout
---

- content_for :head do
  %meta(name="description"    content="South Africa's By-laws: online, freely available and easy to read and share.")
  %meta(name="og:description" content="South Africa's By-laws: online, freely available and easy to read and share.")
  %meta(property="fb:admins"  content="806515583")
  %link(rel="alternate" type="application/atom+xml" href="atom.xml")

#main-page
  %section.welcome
    .container
      .row
        .col-sm-7
          %h2
            South Africa's
            %nobr By-laws

          %p.lead
            Freely available, easy to read and share.
              
        .col-sm-5
          %h3
            Search the By-laws
          %form(action="/search.html" method="get" role="search")
            %input.form-control(type="text" name="q" class="input-large" placeholder="What are you looking for?")

  %section.places
    .container
      .row.placards
        .col-sm-4
          %a.placard.cpt(href="/za-cpt/")
            %h2 Cape Town
        .col-sm-4
          %a.placard.eth(href="/za-eth/")
            %h2 eThekwini (Durban)
        .col-sm-4
          %a.placard.jhb(href="/za-jhb/")
            %h2 Johannesburg

  %section.about
    .container
      .hidden-sm.hidden-xs
        %img.logo(src="/img/logo-lg.png")

      %p.lead
        Open By-laws is a community effort to make our by-laws...

      %p.lead
        %strong Freely-available
        because everyone has a right to know the law,

      %p.lead
        %strong Easy to read
        so that they're easier to understand,

      %p.lead
        %strong Easy to share
        to spread knowledge and understanding.

      %p.lead
        #{link_to 'Find out more →', "/about.html"}

  %section.join
    .container
      .row
        .col-sm-7
          %p.lead
            %strong Join our community
            and help liberate by-laws across the country.

          .social-buttons
            %a.twitter(href="https://twitter.com/OpenByLawsZA" target="_blank")
              %i.fa.fa-twitter
              Follow @OpenByLawsZA

            %a.facebook(href="https://www.facebook.com/openbylaws.org.za" target="_blank")
              %i.fa.fa-facebook
              Like us on Facebook

        .col-sm-5
          %h4 Join our mailing list

          %p For updates on new by-laws, workshops and other news.
          = partial 'mailchimp_form.html'

  %section
    .container
      = partial 'partner_logos'
