---
title: Open By-laws South Africa
layout: layout
---

- content_for :head do
  %meta(property="fb:admins" content="806515583")
  %link(rel="alternate" type="application/atom+xml" href="atom.xml")

#main-page
  %section.welcome
    .container
      .row
        .col-sm-7
          %h2
            South Africa's
            %nobr By-laws

          %p.lead
            Freely available, easy to read and share.
              
        .col-sm-5
          .hidden-sm.hidden-xs
            %img.logo(src="/img/logo-lg.png")

  %section.places
    .container
      %h2 Explore your municipality's by-laws
      .row.placards
        .col-sm-4
          %a.placard.cpt(href="/za-cpt/")
            %h2 Cape Town
        .col-sm-4
          %a.placard.eth(href="/za-eth/")
            %h2 eThekwini
        .col-sm-4
          %a.placard.jhb(href="/za-jhb/")
            %h2 Johannesburg
      .row.placards
        .col-sm-4
          %a.placard.wc033(href="/za-wc033/")
            %h2 Cape Agulhas

  %section.help
    .container
      %h2 Get help with a specific issue
      .row.placards
        .col-sm-3
          %a.placard.ads(href="/help.html?issue=ads")
            %h3 Advertising
        .col-sm-3
          %a.placard.animals(href="/help.html?issue=animals")
            %h3 Animals and pets
        .col-sm-3
          %a.placard.neighbours(href="/help.html?issue=neighbours")
            %h3 Neighbourhood activities
        .col-sm-3
          %a.placard.noise(href="/help.html?issue=noise")
            %h3 Noise and disturbances

  %section.about
    .container
      .row
        .col-sm-8
          %p.lead
            Open By-laws is a community effort to make our by-laws:

          %p.lead
            %strong Freely-available
            because everyone has a right to know the law,

          %p.lead
            %strong Easy to read
            so that they're easier to understand,

          %p.lead
            %strong Easy to share
            to spread knowledge and understanding.

          %p.lead
            #{link_to 'Find out more →', "/about.html"}

        .col-sm-4
          %p.lead
            %strong Join our community
            and help liberate by-laws across the country.

          .social-buttons
            %p
              %a.twitter(href="https://twitter.com/OpenByLawsZA" target="_blank")
                %i.fa.fa-twitter
                Follow @OpenByLawsZA
            %p
              %a.facebook(href="https://www.facebook.com/openbylaws.org.za" target="_blank")
                %i.fa.fa-facebook
                Like us on Facebook

          %h4 Sign up to our mailing list

          %p For updates on new by-laws, workshops and other news.
          = partial 'mailchimp_form.html.haml'

  %section
    .container
      .row
        .col-md-8
          %h2 We want to add your municipality

          %p.lead
            If you're passionate about by-laws in your municipality, we want to work with you to make them
            available to your community.

          %p.lead
            Please email us at #{link_to 'hello@openbylaws.org.za', 'mailto:hello@openbylaws.org.za'}.

  %section
    .container
      = partial 'partner_logos.html.haml'
