---
title: Partners - Open By-laws South Africa
---

- content_for :header do
  %h1 Partner with OpenByLaws.org.za

.row
  .col-md-9.col-lg-7.col-md-offset-3
    %h2 We're helping municipalities put their by-laws online.

    %p.lead
      Open By-laws and
      %a(href="https://openup.org.za") OpenUp
      are partnering with South African municipalities to put their by-laws online
      and make them easier to read and share.

    %p.lead
      This helps residents know about their local legislation, and helps
      municipalities be compliant with the law.

    %h3 Partner with us

    %p.lead
      You can partner with us to put your municipality's by-laws online. Email us at
      %a(href="mailto:info@openup.org.za") info@openup.org.za
      and we'll get in touch.

    .row.sponsors
      .col-sm-4.text-center
        %p
          = link_to(image_tag('/img/openup-logo.svg'), 'https://openup.org.za')
