---
title: Search - Open By-laws South Africa
---

%article
  %h2 Search By-laws

  .clearfix
    %form#search(action="/search.html" method="get")
      .form-group
        .col-xs-8
          %input.form-control#query(type="text" name="q" autofocus="autofocus")
        .col-xs-4
          %button.btn.btn-primary(type="submit") Search

  #results.clearfix
    searching...

  - content_for :footer do
    = javascript_include_tag '/js/vendor/mustache.js'
    = javascript_include_tag '/js/search.js'
